
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Admin - Dashboard HTML Template</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/fontawesome.min.css')}}" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/templatemo-style.css')}}">
    <script type="text/javascript" src="../static/js/pie_chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-pie.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <!--  
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
</head>
{% endblock %}
{% block page_content %}
<body id="reportsPage">
    <div class="" id="home">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand" href="index.html">
                    <h1 class="tm-site-title mb-0">Product Admin</h1>
                </a>
                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">
                                <i class="fas fa-tachometer-alt"></i>
                                Dashboard
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        
                        

                        <li class="nav-item  active">
                            <a class="nav-link" ">
                                <i class="far fa-user"></i>
                                Perfil
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-cog"></i>
                                <span>
                                    Settings <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link d-block" href="/admin_logout">
                                Admin, <b>Logout</b>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
        <div class="container">
            
            <!-- row -->
            <div class="row tm-content-row">
                
                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                        <h2 class="tm-block-title">{{correo}}</h2>
                        <img src="{{imagen}}" class="img-thumbnail" height="200px" width="200px">
                        
                        <span class="offset-3">
                            {% for i in archivos %}
                                
                                <a href="{{i[0]}}">
                                    <button type="button" class="btn btn-primary">
                                        <img height="30px" width="30px" src="../static/img/file-pdf.svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-pdf-fill" viewBox="0 0 16 16 ">
                                        {{i[1]}}
                                    </button>
                                </a>
                                
                            {% endfor %}
                        </span>
                    </div>
                    
                </div>
                <form  method="POST" class="col-12">
                    {{form.hidden_tag()}}
                    <div class="row ">
                        <div class="col-3 my-1"> 
                            {% if bloqueado %}
                                {{form.desbloquear(class="btn btn-primary btn-block text-uppercase  ")}}
                            
                            
                            {% else %}
                                {{form.bloquear(class="btn btn-primary btn-block text-uppercase  ")}}
                            {% endif %}
                            
                        </div>       
                        
                        <div class="col-3 my-1">
                            {% if validado %}
                                {{form.invalidar(class="btn btn-primary btn-block text-uppercase  ")}}
                            
                            
                            {% else %}
                                {{form.validar(class="btn btn-primary btn-block text-uppercase  ")}}
                            {% endif %}
                        </div>
                        
                    
                        
                        <div class="col-3 my-1">
                               
                            {{form.servicios_recibidos(class="btn btn-primary btn-block text-uppercase ")}}
                        </div>     
                        
                        
                        <div class="col-3 my-1">     
                            {{form.servicios_ofrecidos(class="btn btn-primary btn-block text-uppercase ")}}
                        </div> 

                        
                    </div>
                    <div class="row tm-content-row d-flex row">
                        <div class="col-3 my-1 "> 
                            {{form.submitir_comentario(class="btn btn-primary btn-block text-uppercase")}}
                        </div> 
                        <div class="col-9 my-1 ">
                            {{form.comentario(class=" py-2 form-control validate bg-light text-dark order-first" ,placeholder="Comentario")}}
                        </div>
                    </div>
                    
                </form>
                <div class="container my-4 offset-md-3 ">

                    
                    <div id="piechart"></div>
                
                </div>
            </div>
            
        </div>
        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>2018</b> All rights reserved. 
                    
                    Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
                </p>
            </div>
        </footer>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="js/moment.min.js"></script>
    <!-- https://momentjs.com/ -->
    <script src="js/Chart.min.js"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="js/tooplate-scripts.js"></script>
    <script>
        

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        var estrellas_5 = parseInt('{{estrellas[5][0][0]}}')
        var estrellas_4 = parseInt('{{estrellas[4][0][0]}}')
        var estrellas_3 = parseInt('{{estrellas[3][0][0]}}')
        var estrellas_2 = parseInt('{{estrellas[2][0][0]}}')
        var estrellas_1 = parseInt('{{estrellas[1][0][0]}}')
        var estrellas_0 = parseInt('{{estrellas[0][0][0]}}')
        //alert(estrellas_4)
        // Draw the chart and set the chart values
        if (estrellas_0 == 0 && estrellas_1 ==0 && estrellas_2 == 0 && estrellas_3 == 0 &&  estrellas_4 == 0 && estrellas_5 ==0){
            alert("El usiario no tiene servicios terminados")
        }
        function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ['Task', 'Calificaciones'],
        ['5',  estrellas_5],
        ['4', estrellas_4],
        ['3', estrellas_3],
        ['2', estrellas_2],
        ['1', estrellas_1],
        ['0', estrellas_0]
        ]);

        // Optional; add a title and set the width and height of the chart
        var options = {'title':'Calificaciones', 'width':550, 'height':400, 'backgroundColor':{fill: '#FF0000', fillOpacity: 0.0}};

        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
        }
    </script>
</body>
{% endblock %}
